.walletFormContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.textInputs {
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px;
}

.textInputs:hover {
  filter: brightness(85%);
}

.walletFormDiv {
  align-items: center;
  animation: glowing 5s linear 2s infinite alternate;
  background-color: #242627;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(0, 217, 255);
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: space-evenly;
  min-width: 700px;
  width: 80%;
}

.walletFormContainer button {
  border-radius: 10px;
  height: 38px;
  margin: 50px 10px;
  width: 250px;
}

.walletFormContainer button:hover {
  filter: brightness(75%);
}

.walletFormContainer button:active {
  transform: scale(98%);
}

.walletFormDiv select {
  border-radius: 10px;
  height: 38px;
  margin: 0 20px;
  width: 150px;
}

.walletFormDiv select:hover {
  filter: brightness(85%);
}

.walletFormDiv label h3 {
  left: 10px;
  position: relative;
  top: 15px;
}

.walletFormDiv label select {
  position: relative;
  right: 10px;
}

.walletFormDiv label {
  bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
